<div class="message">
  <div class="<%= user.id == message.user_id ? "message-sent" : "message-received" %>">
    <%= sanitize markdown_to_html(emojify(message.content)) %>
  </div>
  <div class="<%= user.id == message.user_id ? "time-sent" : "time-received" %>">
    <%= message.message_time %>
  </div>
</div>
