<div class="message-input">
  <%= form_for [conversation, conversation.messages.new], remote: true do |f| %>
    <%= f.hidden_field :user_id, value: user.id %>
    <%= f.text_area :content, class: "form-control" %>
    <%= f.submit "Send", class: "btn btn-success" %>
  <% end %>
</div>
