<div class="footer">
  <div class="footer_resize">
    <p class="lf">Copyright &copy; 2019
      <%= link_to t("book_share"), root_path %> - All Rights Reserved</p>
    <div class="clr"></div>
  </div>
  <div class="clr"></div>
</div>
